* {
    margin: 0%;
    padding: 0%;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-image: url(ironman.jpeg);
    color: red;
    text-align: center;
    font-size: 20px;
font-family: sans-serif;}
h1{background-color: aqua; border: 15px solid rgb(240, 240, 13); width: fit-content;
margin-left: 45%; padding:10px;}